<div *ngIf="isAdmin">
  <h2>Cadastrar Novo Filme</h2>
  <form (ngSubmit)="onSubmit()" #movieForm="ngForm">
    <div class="form-group">
      <label for="title">Título:</label>
      <input type="text" class="form-control" id="title" name="title" [(ngModel)]="newMovie.title" required>
    </div>
    <div class="form-group">
      <label for="year">Ano:</label>
      <input type="number" class="form-control" id="year" name="year" [(ngModel)]="newMovie.year" required>
    </div>
    <div class="form-group">
      <label for="cover">URL da Capa:</label>
      <input type="url" class="form-control" id="cover" name="cover" [(ngModel)]="newMovie.cover" required>
    </div>
    <div class="form-group">
      <label for="description">Descrição:</label>
      <textarea class="form-control" id="description" name="description" [(ngModel)]="newMovie.description" required></textarea>
    </div>
    <div class="form-group">
      <label for="midia">URL da Mídia:</label>
      <input type="url" class="form-control" id="midia" name="midia" [(ngModel)]="newMovie.midia" required>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!movieForm.valid">Cadastrar Filme</button>
  </form>
</div>