.option-link {
    color: blue; /* Defina a cor desejada aqui */
    text-decoration: none; /* Remova o sublinhado padrão */
  }
  
  .option-link:hover {
    color: darkblue; /* Defina a cor ao passar o mouse */
  }
  
  .page-container {
    margin-top: 10px;
}
