<!-- movie-edit.component.html -->

<div *ngIf="isAdmin" class="page-header">
  <h1 class="page-title">Edição de Filme</h1>
</div>

<div *ngIf="isAdmin" class="form-container">
  <div>
    <label for="movieId">ID do Filme:</label>
    <input type="number" id="movieId" name="movieId" [(ngModel)]="movieId">
    <button (click)="movieId !== undefined && loadMovie(movieId)">Carregar Filme</button>
    <button mat-raised-button color="accent" class="back-button" routerLink="/">Voltar</button>
  </div>

  <div *ngIf="errorMessage">
    <p>{{ errorMessage }}</p>
  </div>

  <div *ngIf="movie">
    <h1>Editando Filme</h1>
    <form>
      <div class="form-group">
        <label for="title">Título:</label>
        <input type="text" id="title" name="title" [(ngModel)]="movie.title" required class="wide-input">
      </div>

      <div class="form-group">
        <label for="year">Ano:</label>
        <input type="number" id="year" name="year" [(ngModel)]="movie.year" required class="wide-input">
      </div>

      <div class="form-group">
        <label for="cover">Capa:</label>
        <input type="text" id="cover" name="cover" [(ngModel)]="movie.cover" required class="wide-input">
      </div>

      <div class="form-group">
        <label for="description">Descrição:</label>
        <textarea id="description" name="description" [(ngModel)]="movie.description" required class="wide-input"></textarea>
      </div>

      <div class="form-group">
        <label for="midia">Mídia:</label>
        <textarea id="media" name="Link" [(ngModel)]="movie.midia" required class="wide-input"></textarea>
      </div>

      <div class="form-group">
        <label for="isFavorite">Favorito:</label>
        <input type="checkbox" id="isFavorite" name="isFavorite" [(ngModel)]="movie.isFavorite">
      </div>

      <div class="buttons">
        <button (click)="saveMovie()">Salvar Filme</button>
        <button (click)="deleteMovie()">Deletar Filme</button>
      </div>
    </form>
  </div>
</div>

<div *ngIf="!isAdmin">
  <p>Você não tem permissão para acessar esta página.</p>
</div>
