<div class="row justify-content-center">
  <div class="col-12 mt-5">
      <mat-card>

          <!-- HEADER -->
          <div class="header-container">
              <div class="row m-5">
                  <mat-card-title class="header-title">Filmes disponíveis</mat-card-title>
              </div>
          </div>

          <!-- SEARCH AND BUTTONS -->
          <div class="row m-5">
              <div class="col-4 search-container">
                  <!-- SEARCH LABEL -->
                  <span class="search-label">Search:</span>

                  <!-- SEARCH INPUT -->
                  <mat-form-field class="search-field" floatLabel="always">
                      <input matInput type="text" [(ngModel)]="searchPattern" (keydown.enter)="filterMovies()">
                      <button *ngIf="searchPattern" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
                          <mat-icon>close</mat-icon>
                      </button>
                  </mat-form-field>
              </div>
              <div class="col-8 text-right">
                  <!-- FILTER -->
                  <button mat-raised-button color="primary" class="filter-button" (click)="filterMovies()">Filtrar</button>
                  <!-- BACK TO INDEX -->
                  <button mat-raised-button color="accent" class="back-button" routerLink="/">Voltar</button>
              </div>
          </div>

          <!-- MOVIE LIST -->
          <div class="row m-5">
              <a div class="col-4 movie-frame" *ngFor="let movie of movies" [routerLink]="['/movie-details', movie?.id]">
                  <div class="row movie justify-content-center">
                      <div class="col-11 cover">
                          <img [src]="movie.cover" class="img-fluid" />
                      </div>
                      <div class="col-12 name">
                          <span class="title">{{movie.title}}</span>
                          <span class="year">{{movie.year}}</span>
                      </div>
                  </div>
              </a>
          </div>
      </mat-card>
  </div>
</div>
