<div class="row justify-content-center">
  <div class="col-12 mt-5">
    <mat-card>

      <!-- TITLE -->
      <div class="row m-5">
        <mat-card-title>Filmes disponíveis</mat-card-title>
      </div>

      <!-- TOOLBAR -->
      <div class="row toolbar align-items-center">
        <div class="col-4">
          <!-- SEARCH -->
          <mat-form-field class="search-field">
            <mat-label>Search</mat-label>
            <input matInput type="text" [(ngModel)]="searchPattern" (keydown.enter)="filterMovies()">
            <button *ngIf="searchPattern" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="col-7 text-right">
          <!-- FILTER -->
          <button mat-raised-button color="primary" (click)="filterMovies()">Filtrar</button>
          <!-- BACK TO INDEX -->
          <button mat-raised-button color="accent" routerLink="/">Voltar </button>
        </div>
      </div>

      <!-- MOVIE LIST-->
      <div class="row m-5">
        <a div class="col-4 movie-frame" *ngFor="let movie of movies" [routerLink]="['/movie-details', movie?.id]">
          <div class="row movie justify-content-center">
            <div class="col-11 cover">
              <img [src]="movie.cover" class="img-fluid" />
            </div>
            <div class="col-12 name">
              <span class="title">{{movie.title}}</span>
              <span class="year">{{movie.year}}</span>
            </div>
          </div>
        </a>
      </div>
    </mat-card>
  </div>
</div>
