.movie-frame {
    .movie {
        margin: 20px;

            .cover{
                img{
                  
                }
            }

            .name {
                text-align: center;
                font-size: 18px;
                margin: 10px;

                .title {
                    font-weight: bold;
                }

                .year {
                    
                }
            }
    }
}

.ml-custom {
    margin-left: 130px; /* Mover o botão para a margem direita */
    //margin-right: 80px; /* Ajuste o espaçamento à direita conforme desejado */
  }
  